* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.main {
    text-align: center;
}

.input {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
}

.container {
    border: 1px solid black;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
}